body {
    padding-top: 50px;
    /*padding-bottom: 40px;*/
    font-family:Helvetica,Arial,sans-serif;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 80%;
}

.map {
	/*background-color:#cddee0;*/
    margin-bottom:10px;
}

/* CSS for the tooltip displayed on mousehover on elements */
.mapTooltip {
	position : fixed;
	background-color : #474c4b;
	moz-opacity:0.70;
	opacity: 0.70;
	filter:alpha(opacity=70);
	border-radius:10px;
	padding : 10px;
	z-index: 1000;
	max-width: 200px;
	display:none;
	color:#fff;
}

h1 {
	color:#5d5d5d;
	font-size:30px;
}

.container {
	/*max-width: 800px;
	margin:auto;*/
    /**/margin: 0 auto;
    max-width: 90%;
}