<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accordion" version="1.0.0" targetFramework="net452" />
  <package id="cef.redist.x64" version="3.2526.1362" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.2526.1362" targetFramework="net452" />
  <package id="CefSharp.Common" version="47.0.2" targetFramework="net452" />
  <package id="CefSharp.Wpf" version="47.0.2" targetFramework="net452" />
  <package id="GraphSharp" version="1.1.0.0" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.2.4.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.5.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="QuickGraph" version="3.6.61119.7" targetFramework="net452" />
  <package id="WPFExtensions" version="1.0.0" targetFramework="net452" />
  <package id="WPFToolkit" version="3.5.50211.1" targetFramework="net452" />
</packages>